{% extends 'main.html' %} {% load static %} {% block content %}

<div class="post-container">
  <div class="question">
    <div
      class="question-title"
      style="display: flex; margin: auto; text-align: center; max-width: 80%"
    >
      What are the thoughts you want to share?
    </div>
    <br />
    <!-- <div class="answer-form"> -->
    <form action="" method="POST">
      {% csrf_token %}
      <div class="answer-form">
        <label style="font-weight: 500" for="title">Title</label><br />
        <input type="text" name="title" class="ques-input" />
      </div>
      <div class="answer-form">
        <label style="font-weight: 500" for="content">Content</label><br />
        <textarea
          name="content"
          id=""
          class="answer-input"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div class="answer-form">
        <input class="answer-submit" type="submit" value="Post" />
      </div>
    </form>
    <!-- </div> -->
  </div>
</div>

{% endblock %}
