{% extends 'main.html' %} {% load static %} {% block content %}

<div class="profile-container">
  <div class="profile-header">
    <img src="{{user.avatar.url}}" alt="" class="profile-pg-img" />
    <div class="profile-head-content">
      <div class="profile-name">
        <h1>{{user.username | capfirst}}</h1>
        {% if request.user == user %}
        <a href="{% url 'edit' %}">
          <button class="edit-btn">Edit</button>
        </a>
        {% endif %}
      </div>
      {{user.credential}} . Joined {{user.date_joined | date}}
      <!--  -->
      {% if user != request.user %} . {% if isFollowing %}
      <a href="{% url 'unfollow' user.id %}" style="color: blue"> Unfollow</a>
      {% else %}
      <a href="{% url 'follow' user.id %}" style="color: blue"> Follow</a>
      {% endif %} {% endif %}
      <br />
      {{followers.count}} followers . {{following.count}} following
    </div>
  </div>
  <div class="profile-bio">{{user.bio}}</div>

  <hr />
  <div class="your-posts">Your Posts</div>
  <hr />
  {% for mes in mess %}
  <div class="post">
    <div class="post-header">
      <!-- <div class="post-image-holder"> -->
      <a href="{% url 'profile' mes.user.id %}">
        <img class="post-img" src="{{mes.user.avatar.url}}" alt=""
      /></a>
      <!-- </div> -->
      <div class="post-user">
        <div class="post-user-heading">
          <div class="post-user-name">
            <a href="{% url 'profile' mes.user.id %}" style="color: black">
              {{mes.user.username}}</a
            >
            <a href=""> . Follow</a>
          </div>
          <div class="remove">
            <a href=""
              ><span class="cross material-icons-round"> more_horiz </span></a
            >
            <a href="">
              <span class="cross material-icons-round"> close </span></a
            >
          </div>
        </div>
        <div class="post-user-info">Interior Designer . Aug 20</div>
      </div>
    </div>

    <div class="post-content">
      <div class="post-title">
        <strong>
          {% if mes.is_answer %} {{mes.ques.body}} {% else %} {% if mes.title %}
          {{mes.title}} {% else %} Post by {{mes.user.username | capfirst}}
          <!---->
          {% endif %}
          <!-- {% -->
          {% endif %} </strong
        ><br />
      </div>
      <p>{{ mes.body }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
