<!-- {% load static %}

<div class="sidebar-tile">
  <a href=""> + Create Space</a>
</div>
<div class="sidebar-tile">
  <a href="">
    <img src="{% static 'images/profile.png' %}" class="sidebar-img" alt="" />
    Anime</a
  >
</div>
<div class="sidebar-tile">
  <a href="">
    <img src="{% static 'images/profile.png' %}" class="sidebar-img" alt="" />
    Anime</a
  >
</div>
<div class="sidebar-tile">
  <a href="">
    <img src="{% static 'images/profile.png' %}" class="sidebar-img" alt="" />
    Anime</a
  >
</div>
<div class="sidebar-tile">
  <a href="">
    <img src="{% static 'images/profile.png' %}" class="sidebar-img" alt="" />
    Anime</a
  >
</div>
<div class="sidebar-tile">
  <a href="">
    <img src="{% static 'images/profile.png' %}" class="sidebar-img" alt="" />
    Anime</a
  >
</div> -->
